/* 
Container
*/

.dialogeditor-node-container
{
    background-color: var(--dialogeditor-color-node-background);
    padding: 8px;
}

.dialogeditor-node-data
{
    background-color: var(--dialogeditor-color-node-background);
    border-radius: 4px;
    padding: 8px;
}

.dialogeditor-node-maincontainer
{
    background-color: var(--dialogeditor-color-maincontainer-bg);
}

.dialogeditor-node-extensioncontainer
{
    background-color: var(--dialogeditor-color-extensioncontainer-bg);
}

.dialogeditor-node-textfield > .unity-text-field__input
{
    background-color: var(--dialogeditor-color-extensioncontainer-bg);
    border-color: antiquewhite;
    flex-grow: 1;
}

.dialogeditor-node-textfield-hidden > .unity-text-field__input
{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

.dialogeditor-node-textfield-hidden > .unity-text-field__input:focus
{
    background-color: var(--dialogeditor-color-textfield-focus);
    border-color: chocolate;
}

.dialogeditor-node-filename-textfield > .unity-text-field__input
{
    flex-grow: 1;
}

.dialogeditor-node-filename-textfield > .unity-text-field__input:focus
{
    flex-grow: 1;
}

.dialogeditor-node-choice-textfield > .unity-text-field__input
{
    font-size: 11px;
    height: 35px;
    max-width: 1000px;
    min-width: 0px;
}

.dialogeditor-node-choice-textfield > .unity-text-field__input:focus
{
    height: 35px;
    margin: 4px;
    padding: 4px;
}

.dialogeditor-node-quote-textfield > .unity-text-field__input
{
    background-color: var(--dialogeditor-color-textfield);
    border-color: antiquewhite;
    border-left-width: 4px;
    padding: 16px;
    max-width: 600px;
}

.dialogeditor-node-quote-textfield > .unity-text-field__input:hover
{
    background-color: var(--dialogeditor-color-textfield-bg);
}

.dialogeditor-node-quote-textfield > .unity-text-field__input:focus
{
    background-color: var(--dialogeditor-color-textfield-focus);
    border-color: antiquewhite;
}

/*button*/
.dialogeditor-node-button
{
    background-color: var(--dialogeditor-color-button-default);
    border-color: antiquewhite;
    max-height: 25px;
    margin: 4px;
}

.dialogeditor-node-button:hover
{
    background-color:  var(--dialogeditor-color-button-hover);
}

.dialogeditor-node-button:active
{
    background-color: var(--dialogeditor-color-button-selected);
    color: antiquewhite;
}

.dialogeditor-node-custom-data-container > Foldout
{
    margin-left: -4px;
    margin-top: 4px;
}

.dialogeditor-node-custom-data-container > Foldout > TextField
{
    margin-left: 2px;
    margin-top: 2px;
}

.unity-toggle__text
{
    margin-left: 2px;
    margin-top: 2px;
}
